@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}
